body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: blueviolet;
}

header img {
    width: 280px;
    height: 75px;
}

.button {
    background-color: #36bbce;
    padding: 15px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 34px;
    margin-top: 45px;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

article {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
}

article h2 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}


.article-but {
    text-decoration: none;
    background: #2fa3b4;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 10px 71px 10px 71px;
}

footer {
    background: #2fa3b4;
    display: flex;
    align-items: center;
    padding: 45px 0px 45px 70px;
    position: absolute;
    width: 100%;
    bottom: 0;
        background-color: blueviolet;
}

footer a {
    margin-right: 50px;
}

footer p {
    font-size: 24px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.about {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.about li {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

.about img {
    border: 5px solid #fff;
    width: 385px;
    height: 385px;
    margin-left: 30px;
}
.d {
    display: flex;
}
.h  {
    text-align: center;
}